body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

section {
    margin-top: 60px;
}

.btn-success {
    background-color: #5cb85f;
    border: none;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

.nav-item {
    margin-right: 1em;
}

.nav-item .active {
    font-weight: 600;
    transition: 0.5s;
}

.nav-link {
    color: rgba(0, 0, 0, 0.55);
}

.nav-link:hover {
    color: rgba(0, 0, 0, 1);
}

.why-us-text {
    max-width: 30rem;
}

.why-us-text p {
    margin: 0;
}

.why-us-text img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.offcanvas {
    max-width: 50%;
}

.mycard {
    width: 16rem;
    border: solid 1px #d0d0d0;
    border-radius: 8px;
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    .mycard {
        width: 100%;
    }
}

.card-title {
    font-weight: 700;
}

.carousel-image {
    width: 80px;
    height: 80px;
}

.cta-banner {
    text-align: center;
    color: #fff;
    background-color: #0d28a6;
    border-radius: 13px;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.navigation li {
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    font-weight: 700;
    transition: 0.5s;
}

.sosmed-icon {
    margin-right: 16px;
}
